<div class="h-full flex items-center justify-center">
  <div class="max-w-[30%] w-full flex flex-col items-center justify-center gap-4 p-4 bg-secondary rounded-xl drop-shadow-lg">
    <div class="w-full flex flex-col items-center gap-4">
      <div class="w-16 h-16 flex items-center justify-center bg-primary drop-shadow-sm rounded-full">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 3.75H6.912a2.25 2.25 0 0 0-2.15 1.588L2.35 13.177a2.25 2.25 0 0 0-.1.661V18a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18v-4.162c0-.224-.034-.447-.1-.661L19.24 5.338a2.25 2.25 0 0 0-2.15-1.588H15M2.25 13.5h3.86a2.25 2.25 0 0 1 2.012 1.244l.256.512a2.25 2.25 0 0 0 2.013 1.244h3.218a2.25 2.25 0 0 0 2.013-1.244l.256-.512a2.25 2.25 0 0 1 2.013-1.244h3.859M12 3v8.25m0 0-3-3m3 3 3-3" />
        </svg>
      </div>
      <div class="flex flex-col text-center gap-2">
        <h2 class="text-primary text-3xl font-bold">Redefinir Senha</h2>
        <p class="text-primary">Digite seu e-mail para receber um link <br> de redefinição de senha</p>
      </div>
    </div>
    <form [formGroup]="form" (submit)="sendMailResetPassword()" class="w-full flex flex-col gap-4">
      <app-inputs 
        label="Email:"
        type="email"
        id="email"
        name="email"
        placeholder="email@exemplo.com"
        formControlName="email"
        [control]="emailControl"
        iconLeft="email-white.svg"
        altLeft="Icone de @ para identifcar o email"
        class="w-full border-none p-0 text-primary bg-transparent"
      />
      <app-button 
        type="submit" 
        text="Enviar link de redefinição" 
        colorText="secondary"
        height="base" 
        background="primary" 
        backgroundHover="primary_hover"
        [disabled]="isButtonDisabled()"
        [loading]="loading"
      />
    </form>
    <a routerLink="/login" class="text-link">Voltar para o login</a>
  </div>
</div>