<div class="h-screen flex flex-col">
  <nav class="fixed top-0 z-50 w-full bg-primary border-b border-gray-200 h-16">
    <div class="px-3 py-3 lg:px-5 lg:pl-3">
      <div class="flex items-center justify-between">
        <div class="flex items-center justify-start rtl:justify-end">
          <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="inline-flex items-center p-2 text-sm text-secondary rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-hoverbg-hover dark:focus:ring-gray-600">
              <span class="sr-only">Open sidebar</span>
              <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
              </svg>
          </button>
          <a routerLink="/" class="flex gap-2 ms-2 md:me-24">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 text-secondary">
              <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6a7.5 7.5 0 1 0 7.5 7.5h-7.5V6Z" />
              <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5H21A7.5 7.5 0 0 0 13.5 3v7.5Z" />
            </svg>
            <span class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-secondary">Dashline</span>
          </a>
        </div>
        <div class="flex items-center">
            <div class="flex items-center ms-3">
              <div class="border border-secondary/20 rounded-full p-2">
                <button type="button" class="flex text-sm bg-primary rounded-full focus:ring-8 focus:ring-gray-300 dark:focus:ring-secondary/20" aria-expanded="false" data-dropdown-toggle="dropdown-user">
                  <span class="sr-only">Open user menu</span>
                  <ng-icon name="heroUserSolid" />
                </button>
              </div>
              <div class="z-50 hidden my-4 text-base list-none bg-primary divide-y divide-gray-200 rounded-sm shadow-sm drop-shadow-sm border border-secondary/20" id="dropdown-user">
                <div class="px-4 py-3" role="none">
                  <p class="flex items-center gap-2 text-sm text-gray-900" role="none">
                    <ng-icon name="heroUserCircleSolid" />
                    {{ user?.username }}
                  </p>
                  <p class="flex items-center gap-2 text-sm font-medium text-gray-900 truncate" role="none">
                    <ng-icon name="heroInformationCircleSolid" />
                    {{ user?.email }}
                  </p>
                </div>
                <div class="flex items-center justify-center p-2">
                  <button (click)="logout()" type="button" class="w-full py-2 flex items-center justify-center gap-2 text-primary bg-gradient-to-r from-danger via-danger/80 to-danger focus:ring-4 focus:outline-none focus:ring-danger/30 font-medium rounded-lg text-sm text-center">
                    Sair
                    <ng-icon name="heroArrowLeftStartOnRectangleSolid" />
                  </button>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </nav>
  
  <aside id="logo-sidebar" class="fixed left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-primary border-r border-gray-200 lg:translate-x-0" aria-label="Sidebar">
    <div class="h-full px-3 pb-4 overflow-y-auto">
      <ul class="space-y-2 font-medium">
        <li>
          <button type="button" class="flex items-center w-full p-2 text-base text-secondary transition duration-75 rounded-lg group hover:bg-gray-100 hover:text-secondary/80" aria-controls="dropdown-dashboards" data-collapse-toggle="dropdown-dashboards">
            <ng-icon name="heroChartPieSolid" />
            <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap text-secondary">Dashboards</span>
            <ng-icon name="heroChevronDownSolid" />
          </button>
          <ul id="dropdown-dashboards" class="hidden py-2 space-y-2">
            <li *ngFor="let item of menuItems">
              <a *ngIf="hasPermission(item.route)" [routerLink]="'/page/' + item.route" 
                class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100">
                {{ item.label }}
              </a>
            </li>
          </ul>
        </li>
        @if (user?.is_staff || hasPermission('admin')) {
          <li>
            <a routerLink="/admin/groups" class="flex items-center w-full p-2 text-base text-secondary transition duration-75 rounded-lg group hover:bg-gray-100 hover:text-secondary/80">
              <ng-icon name="heroUserGroupSolid" />
              <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap text-secondary">Grupos</span>
            </a>
          </li>
          <li>
            <a routerLink="/admin/users" class="flex items-center w-full p-2 text-base text-secondary transition duration-75 rounded-lg group hover:bg-gray-100 hover:text-secondary/80">
              <ng-icon name="heroUsersSolid" />
              <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap text-secondary">Usuários</span>
            </a>
          </li>
        }
        <li>
          <button type="button" (click)="logout()" class="flex items-center w-full p-2 text-base text-danger transition duration-75 rounded-lg group hover:bg-gray-100 hover:text-danger_hover/80">
            <ng-icon name="heroArrowLeftStartOnRectangleSolid" />
            <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap text-danger">Sair</span>
        </button>
        </li>
      </ul>
    </div>
  </aside>
  
  <div class="flex-1 flex flex-col lg:ml-64 mt-14 overflow-auto bg-hover">
    <ng-content></ng-content>
  </div>
</div>