<div class="h-full flex items-center justify-center">
  <div class="max-w-[30%] w-full flex flex-col items-center justify-center gap-4 p-4 bg-secondary rounded-xl drop-shadow-lg">
    <div class="w-full flex flex-col items-center gap-4">
      <div class="w-16 h-16 flex items-center justify-center bg-primary drop-shadow-sm rounded-full">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5V6.75a4.5 4.5 0 1 1 9 0v3.75M3.75 21.75h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H3.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
        </svg>
      </div>
      <div class="flex flex-col text-center gap-2">
        <h2 class="text-primary text-3xl font-bold">Redefinir Senha</h2>
        <p class="text-primary">Informe a sua nova senha</p>
      </div>
    </div>
    <form [formGroup]="form" (submit)="resetPassword()" class="w-full flex flex-col gap-4">
      <app-inputs 
        label="Nova senha:"
        type="password"
        id="password"
        name="password"
        placeholder="Insira sua nova senha"
        formControlName="password"
        [control]="passwordControl"
        iconLeft="pass-white.svg"
        altLeft="Icone de * para identifcar a senha"
        class="w-full border-none p-0 text-primary bg-transparent"
      />
      <app-inputs 
        label="Confirme a senha:"
        type="password"
        id="confirm_password"
        name="confirm_password"
        placeholder="Insira sua nova senha"
        formControlName="confirm_password"
        [control]="confirmPasswordControl"
        iconLeft="pass-white.svg"
        altLeft="Icone de * para identifcar a senha"
        class="w-full border-none p-0 text-primary bg-transparent"
      />
      <app-button 
        type="submit" 
        text="Redefinir senha" 
        colorText="secondary"
        height="2xl" 
        background="primary" 
        backgroundHover="primary_hover"
        [loading]="loading"
      />
    </form>
    <a routerLink="/login" class="text-link">Voltar para o login</a>
  </div>
</div>