<div class="w-full flex flex-col gap-2">
  <h2 class="font-poppins font-bold text-5xl text-center">{{title}}</h2>
  <div class="flex lg:hidden items-center justify-center gap-2 rounded-lg p-2 bg-secondary text-primary">
    <h3 class="font-poppins font-bold md:text-2xl text-center">Painel de Análise Integrada</h3>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18 9 11.25l4.306 4.306a11.95 11.95 0 0 1 5.814-5.518l2.74-1.22m0 0-5.94-2.281m5.94 2.28-2.28 5.941" />
    </svg>
  </div>
</div>